/* Custom aesthetic scrollbar for Celoris TV */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0D0F0D;
}

::-webkit-scrollbar-thumb {
  background: #2A322A;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7F9172;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2A322A;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7F9172;
}
